* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Marcellus SC", serif;
  animation-name: BottomToTop;
  animation-duration: 0.3s;
  animation-timing-function: linear; }

section {
  padding: 6rem 8rem; }

ul {
  list-style: none; }

li {
  display: block;
  list-style: none;
  font-size: 1.1rem; }

a {
  display: block;
  text-decoration: none;
  color: black; }

hr {
  border: 1px solid #B88A8A;
  width: 80px; }

h1 {
  font-size: 4rem;
  font-family: "Covered By Your Grace", cursive; }

h2 {
  font-size: 4vw;
  margin-bottom: 6rem;
  animation-name: RightToLeft;
  animation-duration: .5s;
  animation-timing-function: linear; }

h3 {
  font-size: 2.6vw;
  font-family: "Marcellus", serif; }

h4 {
  font-size: 2vw;
  font-family: "Marcellus", serif; }

h5 {
  font-size: 1.5vw;
  font-family: "Marcellus", serif; }

h6 {
  font-size: 1.5vw;
  font-family: "Roboto Slab", serif;
  margin-top: 2rem; }

p {
  font-size: 2vw;
  font-family: "Tangerine", cursive; }

img {
  animation-duration: 1s; }

i {
  animation-duration: 1s; }

label {
  font-family: "Roboto Slab", serif;
  font-size: 1rem; }

@media screen and (max-width: 1200px) {
  section {
    padding: 2rem 6rem; }
  h1 {
    font-size: 3.1rem; }
  h2 {
    margin-bottom: 2.5rem; } }

@media screen and (max-width: 800px) {
  section {
    padding: 2rem 3rem; }
  hr {
    width: 60px; }
  h2 {
    margin-bottom: 1rem; }
  h5 {
    font-size: 1.1rem; }
  h6 {
    margin-top: 1.8rem;
    font-size: 1rem; } }

@media screen and (max-width: 480px) {
  section {
    padding: 1rem 2rem; }
  hr {
    width: 40px; }
  h2 {
    margin-bottom: 1rem; }
  h5 {
    font-size: .8rem; }
  h6 {
    margin-top: 2rem;
    font-size: .8rem; }
  label {
    font-size: .8rem; } }

@keyframes TopToBottom {
  0% {
    opacity: 0;
    transform: translateY(-64px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes BottomToTop {
  0% {
    opacity: 0;
    transform: translateY(64px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-64px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(64px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

header nav {
  text-transform: uppercase; }

header h1 {
  padding: 2rem;
  display: flex;
  justify-content: center; }

header .main_menu {
  width: 100%; }

header ul {
  display: flex;
  justify-content: center; }
  header ul ul {
    color: #808080;
    margin-left: 2rem; }
    header ul ul li {
      padding: .5rem .8rem; }

header li {
  padding: .5rem 1rem;
  cursor: pointer; }

header a {
  position: relative;
  display: inline-block;
  text-decoration: none; }
  header a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s; }
  header a:hover::after {
    transform: scale(1, 1); }

@media screen and (max-width: 480px) {
  header h1 {
    padding: 0; }
  header nav {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 1rem 2rem; } }

header {
  width: 100%;
  height: 100%; }
  header #main {
    display: flex;
    justify-content: center; }
  header img {
    margin: 2rem auto;
    width: 70%; }

footer {
  height: 270px;
  background-image: url("../../src/img/footer.jpg");
  background-size: cover;
  background-color: rgba(99, 99, 99, 0.6);
  background-blend-mode: darken; }
  footer img {
    opacity: 0.6; }
  footer .logo {
    color: #fff;
    padding-top: 3rem;
    padding-left: 5rem; }
  footer ul {
    display: flex;
    justify-content: center; }
  footer li {
    padding: 0 1rem;
    cursor: pointer;
    font-size: 1.5rem; }
  footer a {
    position: relative;
    display: inline-block;
    text-decoration: none; }
    footer a::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #333;
      transform: scale(0, 1);
      transform-origin: center top;
      transition: transform .3s; }
    footer a:hover::after {
      transform: scale(1, 1); }

@media screen and (max-width: 800px) {
  footer {
    height: 200px; }
    footer .logo {
      padding-top: 2rem;
      padding-left: 5rem; }
    footer li {
      padding: 0 1rem;
      font-size: 1.2rem; } }

@media screen and (max-width: 480px) {
  footer {
    height: 150px; }
    footer .logo {
      padding-top: 1rem;
      padding-left: 2rem;
      padding-bottom: 2rem; }
      footer .logo h1 {
        font-size: 2rem; }
    footer li {
      padding: 0 .5rem;
      font-size: 1rem; } }

.ct_form {
  position: relative;
  width: 100%; }
  .ct_form .input {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
    padding-left: 4em;
    outline: none;
    margin-bottom: 1rem; }

.input {
  padding: 4px 0;
  border: 0;
  border-bottom: 1.5px solid #B88A8A;
  background-color: transparent; }
  .input ~ .focus_line {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 0;
    height: 2px;
    transition: 0.4s;
    background-color: #B88A8A; }
  .input ~ label {
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 0;
    width: 100%;
    transition: 0.3s;
    letter-spacing: 0.5px;
    color: #1D1D1D; }

.input:focus ~ .focus_line,
.ct_form.input ~ .focus_line {
  width: 100%;
  transition: 0.4s; }

.input:focus ~ label, .ct_form.input ~ label {
  font-size: 12px;
  top: -16px;
  transition: 0.3s;
  color: #B88A8A; }

.btn {
  padding: 3% 5%;
  width: 50%;
  font-size: 1.1rem;
  color: #1D1D1D;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-family: "Roboto Slab", serif; }

.btn-submit {
  border: 2px solid #B88A8A;
  z-index: 1; }
  .btn-submit:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: #B88A8A;
    transition: all 0.3s ease; }
  .btn-submit:hover {
    color: #fff; }
    .btn-submit:hover:after {
      top: auto;
      bottom: 0;
      height: 100%; }
  .btn-submit:active {
    top: 2px; }

.scroll-top {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 100;
  width: 50px;
  height: 50px;
  color: #B88A8A;
  line-height: 50px;
  text-align: center; }
  .scroll-top:hover {
    cursor: pointer;
    opacity: 0.7; }
  .scroll-top i {
    font-size: 4rem; }

@media screen and (max-width: 1200px) {
  .btn {
    font-size: 1rem; } }

@media screen and (max-width: 800px) {
  .btn {
    font-size: .8rem; } }

@media screen and (max-width: 480px) {
  .btn {
    font-size: .8rem; } }

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer; }

.sp-menu .hide {
  display: none; }

main {
  padding: 0 16px; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s; }
  .overlay ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .overlay li {
    margin-top: 24px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .3s, transform .3s; }
  .overlay #close {
    position: absolute;
    top: 16px;
    right: 26px;
    font-size: 32px;
    cursor: pointer; }

.overlay.show {
  opacity: 1;
  pointer-events: auto; }
  .overlay.show li {
    opacity: 1;
    transform: none; }
    .overlay.show li:nth-child(1) {
      transition-delay: .1s; }
    .overlay.show li:nth-child(2) {
      transition-delay: .2s; }
    .overlay.show li:nth-child(3) {
      transition-delay: .3s; }
    .overlay.show li:nth-child(4) {
      transition-delay: .4s; }
    .overlay.show li:nth-child(5) {
      transition-delay: .5s; }

.sns {
  display: flex;
  justify-content: center; }
  .sns li {
    margin: 2rem .5rem;
    font-size: 1.5rem;
    color: #808080; }

.sp-menu {
  display: none; }

@media screen and (max-width: 480px) {
  .sp-menu {
    display: flex; }
    .sp-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
    .sp-menu a {
      display: block;
      width: 80px;
      line-height: 64px;
      text-align: center; }
      .sp-menu a:hover {
        background: #f2f2f2; }
  .pc-menu {
    display: none; } }

#feature:hover {
  background-color: #1D1D1D;
  color: #fff; }

#feature .aboutus {
  font-size: 1.2rem;
  margin: 0 2rem; }

#feature .feature_cards {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem; }

#feature .feature_card {
  width: 30%;
  padding: 1rem; }

#feature i {
  font-size: 6rem;
  display: flex;
  justify-content: center; }

#feature hr {
  margin: 3rem 0 3rem 2rem; }

#feature h3 {
  display: flex;
  justify-content: center;
  margin: 2rem 0; }

@media screen and (max-width: 1200px) {
  #feature i {
    font-size: 4rem; }
  #feature hr {
    margin: 0 0 3rem 2rem; }
  #feature h3 {
    margin: 2rem 0; } }

@media screen and (max-width: 800px) {
  #feature i {
    font-size: 3rem; } }

@media screen and (max-width: 480px) {
  #feature i {
    font-size: 2.5rem; }
  #feature hr {
    margin: 3rem 0 2rem .2rem; }
  #feature h3 {
    margin-left: 0;
    margin-bottom: 1rem; }
  #feature .feature_cards {
    margin-top: 0; }
  #feature .feature_card {
    padding: 0 1rem; } }

#contact .contact_page {
  display: flex;
  justify-content: space-around; }

#contact h2 {
  margin-bottom: 1rem; }

#contact .logo {
  margin-left: 40rem;
  text-align: center; }

#contact .map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; }

#contact .info {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  #contact .info div {
    display: flex; }
  #contact .info h5 {
    margin-right: 4rem;
    margin-top: 1rem; }

#contact img {
  width: 40vw; }

#contact .submit {
  margin-top: 2rem;
  flex-direction: column; }

#contact .send {
  justify-content: flex-end; }

#contact .logo1 {
  display: none; }

@media screen and (max-width: 1200px) {
  #contact .contact_page {
    display: flex;
    justify-content: space-between; }
  #contact .info {
    margin: 2rem 0; }
  #contact .contact_page {
    margin: 0; }
  #contact .logo {
    margin-left: 20rem;
    text-align: center; }
  #contact .logo1 {
    display: none; } }

@media screen and (max-width: 800px) {
  #contact .logo {
    display: none; }
  #contact .logo1 {
    margin-top: 2rem;
    margin-left: 3rem;
    display: block; }
    #contact .logo1 hr {
      margin-left: 5rem; }
  #contact .contact_page {
    display: flex;
    flex-direction: column; }
  #contact .map {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  #contact .info {
    margin: 1rem 10rem; }
  #contact img {
    width: 80%;
    height: 350px; } }

@media screen and (max-width: 480px) {
  #contact .info {
    margin: 1rem 2rem; }
  #contact h1 {
    font-size: 2rem; }
  #contact img {
    width: 90%;
    height: 250px; } }

#gallery {
  width: 100%;
  height: 100%; }
  #gallery:hover {
    background-color: #1D1D1D;
    color: #fff; }
  #gallery .pictures {
    -webkit-column-count: 3;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-fill: balance !important;
    column-count: 3;
    column-fill: auto;
    text-align: center; }
  #gallery img {
    width: 100%;
    height: auto; }
  #gallery .gallery_img {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden; }
    #gallery .gallery_img:hover .caption {
      opacity: 1;
      transition: all 0.6s ease;
      padding-bottom: 50px; }
  #gallery .caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(184, 138, 138, 0.5);
    opacity: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 150px;
    padding-bottom: 0px; }

@media screen and (max-width: 800px) {
  #gallery .gallery_img:hover .caption {
    padding-bottom: 10px; }
  #gallery .caption {
    padding-left: 5px;
    padding-top: 30px; } }

@media screen and (max-width: 480px) {
  #gallery .gallery_img:hover .caption {
    padding-bottom: 5px; }
  #gallery .caption {
    padding-left: 5px;
    padding-top: 10px; }
  #gallery .pictures {
    margin-bottom: -100px; } }

#brand .brand_cards {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1rem; }

#brand .brand_card {
  margin-bottom: 2rem; }

#brand .brand_img {
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 1.5rem 0;
  cursor: pointer; }
  #brand .brand_img .caption {
    text-align: center;
    color: #fff;
    font-family: "Marcellus", serif;
    font-size: 1.5vw; }
  #brand .brand_img .mask {
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(184, 138, 138, 0.5);
    -webkit-transition: all .6s ease;
    transition: all .6s ease; }
  #brand .brand_img:hover .mask {
    opacity: 1;
    padding-top: 30%; }

#brand img {
  width: 100%; }

#brand p {
  display: grid;
  justify-items: end;
  margin-right: .9rem; }

#brand hr {
  margin: 1rem 0 1rem 3rem; }

@media screen and (max-width: 800px) {
  #brand p {
    display: grid;
    justify-items: end;
    margin-right: .9rem; }
  #brand hr {
    margin: 1rem 0 1rem 1rem; } }
