// font-family
$font-main: 'Marcellus SC', serif;
$font-main2: 'Marcellus', serif;
$font-par: 'Tangerine', cursive;
$font-par2: 'Roboto Slab', serif;
$font-logo: 'Covered By Your Grace', cursive;


// transition
// $transition-main: all 0.3s linear;

// color
$white: #fff;
$black: #000;
$dark-gray: #1D1D1D;
$light-gray: #363636;
$lighter-gray: #808080;
$pink: #B88A8A;