#contact {
  
  .contact_page {
    display: flex;
    justify-content: space-around;
  }

  h2 {
    margin-bottom: 3rem;
  }

  .logo {
    margin-left: 40rem;
    text-align: center;
  }
  
  .info {
    margin: 2rem;
    display: block;
    justify-items: center;

    div {
      display: flex;
    }

    h5 {
      margin-right: 4rem;
      margin-top: 1rem;
    }
  }

  iframe {
    width: 40vw;
  }

  .submit {
    margin-top: 2rem;
    flex-direction: column;
  }

  .send {
    justify-content: flex-end;
  }

  .logo1 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  #contact {

    .contact_page {
      display: flex;
      justify-content: space-between;
    }

    .info {
      margin: 2rem 0;
    }

    .contact_page {
      margin: 0;
    }

    .logo {
      margin-left: 20rem;
      text-align: center;
    }

    .logo1 {
      display: none;
    }

    iframe {
      height: 380px;
    }
  }
}

@media screen and (max-width: 800px) {
  #contact {
    .logo {
      display: none;
    }

    .logo1 {
      margin-top: 2rem;
      margin-left: 3rem;
      display: block;

      hr {
        margin-left: 5rem;
      }
    }

    .contact_page {
      display: flex;
      flex-direction: column;
    }

    .map {
      display: flex;
      justify-content: center;
    }

    .info {
      margin: 1rem 10rem;
    }

    iframe {
      width: 80%;
      height: 350px;
    }

  }
}

@media screen and (max-width: 480px) {
  #contact {

    .info {
      margin: 1rem 2rem;
    }

    h1 {
      font-size: 3rem;
    }

    iframe {
      width: 90%;
      height: 250px;
    }

  }
}